{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5"
}
